---
- name: Restart cron
  ansible.builtin.service:
    name: cron
    state: restarted

- name: Restart unattended-upgrades
  ansible.builtin.service:
    name: unattended-upgrades
    state: restarted
